body{
    margin: 0;
    min-height: 100vh;
    background:linear-gradient(to right, rgb(63, 218, 63), rgb(170, 24, 170));
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Monocraft";
    font-style: normal;
    color: white;
    cursor: pointer;
    padding: 20px;
}

.contenedor{
      text-align: center;
      width: 100%;
      max-width: 500px;
      padding: 24px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
}

h1 {
      font-size: 1.4rem;
      line-height: 1.4;
      margin: 0;
}

img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      border-radius: 16px;
      margin-bottom: 18px;
    }